<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155908505256-krssfv9n9bn18gas04i4j9gh4rr1k1mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155908505256-krssfv9n9bn18gas04i4j9gh4rr1k1mm</string>
	<key>API_KEY</key>
	<string>AIzaSyAMROvb9U7jLQfpalsI8ycL2t_OTG4Cji8</string>
	<key>GCM_SENDER_ID</key>
	<string>155908505256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marshalltechnology.zulu</string>
	<key>PROJECT_ID</key>
	<string>survey-zulu</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-zulu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155908505256:ios:70e076dc5fc15ccc</string>
	<key>DATABASE_URL</key>
	<string>https://survey-zulu.firebaseio.com</string>
</dict>
</plist>